<!DOCTYPE html>
<html lang="zh-CN" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    ttop5听过的音乐(309)
</title>
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script >var _head_start = new Date();</script>
    <script src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/e258329ca4b2122b4efe53fddc418967441e0e7f/js/douban.js"></script>
    <script src="https://img1.doubanio.com/f/vendors/43c21c5607ffe86759538789a60360c06532b4bf/js/do.js" data-cfg-autoload="false"></script>
    <link href="https://img1.doubanio.com/f/vendors/fae7e145bf16b2f427ba0fe7ef3d47c04af3a6c0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/cuphead/music-static/css/init.3670a.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        
    

    </style>
    
    
<link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />
<link href="https://img1.doubanio.com/cuphead/music-static/css/people.565e9.css" rel="stylesheet" type="text/css" />


    <!-- COLLECTED CSS -->
    <script></script>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>
    
   



    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=music" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="">
      <a href="https://movie.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="on">
      <a href="https://music.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/podcast/" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-podcast&quot;,&quot;uid&quot;:&quot;0&quot;}">播客</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/shire/bundle.js" defer="defer"></script>




      


    <link href="//img3.doubanio.com/dae/accounts/resources/f8b2226/music/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-music" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;music.douban.com">豆瓣音乐</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;music/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="唱片名、表演者、条码、ISRC" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1003" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://music.douban.com/artists/"
     >音乐人</a>
    </li>
    <li    ><a href="https://music.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://music.douban.com/tag/"
     >分类浏览</a>
    </li>
    <li    ><a href="https://music.douban.com/review/latest/"
     >乐评</a>
    </li>
    <li    ><a href="https://fm.douban.com/?from_=music_nav"
     >豆瓣FM</a>
    </li>
    <li    ><a href="https://fm.douban.com/explore/songlists/"
     >歌单</a>
    </li>
    <li    ><a href="https://music.douban.com/annual/2025/?fullscreen=1&source=navigation"
            target="_blank"
     >2025年度榜单</a>
    </li>
  </ul>
</div>

    <a href="https://music.douban.com/annual/2025/?source=music_navigation" class="musicannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'music_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= pic}}" width="40" />
            <div>
                <em>{{= title}}</em>
                {{if type == "m"}}
                    <span>(艺术家)</span>
                {{else type == "a"}}
                    <span>(音乐人)</span>
                {{else type == "d"}}
                    <span>(DJ)</span>
                {{else type == "l"}}
                    <span>(厂牌)</span>
                {{/if}}
                {{if other_title}}
                    <span>其他名称：{{= other_title}}</span>
                {{/if}}
                {{if performer}}
                    <p>表演者：{{= performer}}</p>
                {{/if}}
                {{if cn_name}}
                    <p>{{= cn_name}}</p>
                {{/if}}
                {{if en_name}}
                    <p>{{= en_name}}</p>
                {{/if}}
            </div>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/f8b2226/music/bundle.js" defer="defer"></script>




    <div id="wrapper">
        

        
<div id="content">
    
    
<div id="db-usr-profile">
    
    <input type="hidden" value="133283807" id="user-id" />
    <div class="info">
        <h1>ttop5听过的音乐(309)</h1>
        <ul>
            <li><a href="https://music.douban.com/people/ttop5/">音乐主页</a></li>
            <li><a href="https://music.douban.com/people/ttop5/update">音乐动态</a></li>
            <li><a href="https://music.douban.com/people/ttop5/reviews?cat_id=1003">乐评</a></li>
                <li><a href="/people/ttop5/programme">歌单</a></li>
            <li><a href="https://www.douban.com/people/ttop5/doulists">豆列</a></li>
            <li><a href="https://music.douban.com/people/ttop5/do">在听</a></li>
            <li><a href="https://music.douban.com/people/ttop5/wish">想听</a></li>
            <li><a href="https://music.douban.com/people/ttop5/collect">听过</a></li>
        </ul>
    </div>
</div>


    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
               
    

<div class="opt-bar mb30 clearfix">
    <div class="sort">
        
        按时间排序<span class="gray-dot">·</span><a href="https://music.douban.com/people/ttop5/collect?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count">按评价排序</a><span class="gray-dot">·</span><a href="https://music.douban.com/people/ttop5/collect?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count">按标题排序</a>
    </div>
    <div class="mode">
        <span class="subject-num">
            1-15&nbsp;/&nbsp;309
        </span>
        <ul class="grid-list-bar">
            
                <li class="grid-on">grid</li>
                <li class="list">
                    <a href="https://music.douban.com/people/ttop5/collect?sort=time&amp;start=0&amp;filter=all&amp;mode=list&amp;tags_sort=count">list</a>
                </li>
        </ul>
    </div>
</div>


        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<style>
    .grid-view .item .info .title {
        font-size: 13px;
    }
    .grid-view .item .info .title .start_radio {
        background: url("https://img2.doubanio.com/cuphead/music-static/pics/radio_8_gray-1.jpg") center center no-repeat;
        background-size: 100%;
    }
    .grid-view .item .info .title:hover .start_radio {
        background-image: url("https://img2.doubanio.com/cuphead/music-static/pics/radio_8-1.jpg");
    }
</style>
<div class="grid-view">
        

        <div class="item comment-item" data-cid="4797422721">
            <div class="pic">
                <a title="怨苍天变了心" href="https://music.douban.com/subject/3293508/" class="nbg">
                    <img alt="怨苍天变了心" src="https://img1.doubanio.com/view/subject/s/public/s3945890.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/3293508/">
                            <em>怨苍天变了心</em>
                            
                        </a>
                    </li>
                        <li class="intro">方季惟 / 1991.09 / 专辑 / CD / 流行</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2026-03-19</span>
                    </li>
                    
                    <li>
                        如梦
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4774327866">
            <div class="pic">
                <a title="一秒钟" href="https://music.douban.com/subject/35270429/" class="nbg">
                    <img alt="一秒钟" src="https://img9.doubanio.com/view/subject/s/public/s33767455.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/35270429/">
                            <em>一秒钟</em>
                            
                        </a>
                    </li>
                        <li class="intro">刘浩存 / 2020-11-27 / 单曲 / 数字(Digital) / 流行</li>
                    <li>
                                <span class="rating3-t"></span>
                        <span class="date">2026-02-19</span>
                    </li>
                    
                    <li>
                        主题曲比较一般
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4709045168">
            <div class="pic">
                <a title="康美之恋" href="https://music.douban.com/subject/4840490/" class="nbg">
                    <img alt="康美之恋" src="https://img9.doubanio.com/view/subject/s/public/s4422735.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/4840490/">
                            <em>康美之恋</em>
                             / 爱的神话
                        </a>
                    </li>
                        <li class="intro">谭晶 / 2008-01-02 / 单曲 / 数字(Digital) / 世界音乐</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-12-07</span>
                    </li>
                    
                    <li>
                        小时候从未觉得是广告，画面音乐都很棒，每次看到都会看完不舍得换台。
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4672722285">
            <div class="pic">
                <a title="sacrifice" href="https://music.douban.com/subject/37665154/" class="nbg">
                    <img alt="sacrifice" src="https://img1.doubanio.com/view/subject/s/public/s35279269.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/37665154/">
                            <em>sacrifice</em>
                             / 争
                        </a>
                    </li>
                        <li class="intro">League of Legends Music,邓紫棋 / 2025-10-13 / 单曲 / 数字(Digital)</li>
                    <li>
                                <span class="rating4-t"></span>
                        <span class="date">2025-10-22</span>
                    </li>
                    
                    <li>
                        曲子限制了邓紫棋的发挥
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4671403251">
            <div class="pic">
                <a title="Sway My Way (with Amy Shark)" href="https://music.douban.com/subject/36271285/" class="nbg">
                    <img alt="Sway My Way (with Amy Shark)" src="https://img9.doubanio.com/view/subject/s/public/s34437886.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/36271285/">
                            <em>Sway My Way (with Amy Shark)</em>
                            
                        </a>
                    </li>
                        <li class="intro">R3HAB,Amy Shark / 2022-06-10 / 数字(Digital) / 流行</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-10-20</span>
                    </li>
                    
                    <li>
                        小清新
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4670437128">
            <div class="pic">
                <a title="大东北我的家乡" href="https://music.douban.com/subject/37241208/" class="nbg">
                    <img alt="大东北我的家乡" src="https://img9.doubanio.com/view/subject/s/public/s35084114.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/37241208/">
                            <em>大东北我的家乡</em>
                            
                        </a>
                    </li>
                        <li class="intro">何玉 / 2019-06-20 / 单曲 / 数字(Digital) / 世界音乐</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-10-19</span>
                    </li>
                    
                    <li>
                        一雨死万雨生啊。带派不老铁！
                        

                            <span class="color_gray">1 有用</span>
                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4667490391">
            <div class="pic">
                <a title="蓝莲哈 (哈基米南北绿豆)" href="https://music.douban.com/subject/37655888/" class="nbg">
                    <img alt="蓝莲哈 (哈基米南北绿豆)" src="https://img1.doubanio.com/view/subject/s/public/s35274369.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/37655888/">
                            <em>蓝莲哈 (哈基米南北绿豆)</em>
                            
                        </a>
                    </li>
                        <li class="intro">Velo / 2025-08-01 / 单曲 / 数字(Digital)</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-10-15</span>
                    </li>
                    
                    <li>
                        这都有，666
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4646499505">
            <div class="pic">
                <a title="白鸽乌鸦相爱的戏码" href="https://music.douban.com/subject/37044721/" class="nbg">
                    <img alt="白鸽乌鸦相爱的戏码" src="https://img2.doubanio.com/view/subject/s/public/s34960881.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/37044721/">
                            <em>白鸽乌鸦相爱的戏码</em>
                            
                        </a>
                    </li>
                        <li class="intro">潘成（皮卡潘） / 2024-07-28 / EP / 数字(Digital) / 流行</li>
                    <li>
                                <span class="rating4-t"></span>
                        <span class="date">2025-09-20</span>
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4639436641">
            <div class="pic">
                <a title="Revolve" href="https://music.douban.com/subject/37086677/" class="nbg">
                    <img alt="Revolve" src="https://img1.doubanio.com/view/subject/s/public/s34986570.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/37086677/">
                            <em>Revolve</em>
                            
                        </a>
                    </li>
                        <li class="intro">Aden Foyer / 2024-10-11 / 单曲 / 数字(Digital) / 流行</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-09-12</span>
                    </li>
                    
                    <li>
                        无敌😎
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4639435225">
            <div class="pic">
                <a title="The Ballet Girl" href="https://music.douban.com/subject/37307198/" class="nbg">
                    <img alt="The Ballet Girl" src="https://img3.doubanio.com/view/subject/s/public/s35122713.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/37307198/">
                            <em>The Ballet Girl</em>
                            
                        </a>
                    </li>
                        <li class="intro">Aden Foyer / 2022-10-21</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-09-12</span>
                    </li>
                    
                    <li>
                        太好听了
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4633582697">
            <div class="pic">
                <a title="人间烟火" href="https://music.douban.com/subject/35809938/" class="nbg">
                    <img alt="人间烟火" src="https://img3.doubanio.com/view/subject/s/public/s34156163.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/35809938/">
                            <em>人间烟火</em>
                            
                        </a>
                    </li>
                        <li class="intro">程响 / 2022-03-20 / 单曲 / 数字(Digital) / 流行</li>
                    <li>
                                <span class="rating4-t"></span>
                        <span class="date">2025-09-05</span>
                    </li>
                    
                    <li>
                        古风类的还是不错的
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4630391644">
            <div class="pic">
                <a title="How You Like That" href="https://music.douban.com/subject/35114659/" class="nbg">
                    <img alt="How You Like That" src="https://img1.doubanio.com/view/subject/s/public/s33675739.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/35114659/">
                            <em>How You Like That</em>
                             / 你觉得怎么样
                        </a>
                    </li>
                        <li class="intro">粉墨 BLACKPINK / 2020-06-26 / 单曲 / CD / 流行</li>
                    <li>
                                <span class="rating4-t"></span>
                        <span class="date">2025-09-01</span>
                    </li>
                    
                    <li>
                        经典🎶
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4627039402">
            <div class="pic">
                <a title="LOVE TUNE" href="https://music.douban.com/subject/37017404/" class="nbg">
                    <img alt="LOVE TUNE" src="https://img3.doubanio.com/view/subject/s/public/s34962152.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/37017404/">
                            <em>LOVE TUNE</em>
                             / 2nd Mini Album
                        </a>
                    </li>
                        <li class="intro">FIFTY FIFTY,피프티피프티 / 2024-09-20 / EP / CD / 流行</li>
                    <li>
                                <span class="rating3-t"></span>
                        <span class="date">2025-08-28</span>
                    </li>
                    
                    <li>
                        就SOS还不错
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4623494321">
            <div class="pic">
                <a title="不分手的恋爱" href="https://music.douban.com/subject/6308618/" class="nbg">
                    <img alt="不分手的恋爱" src="https://img1.doubanio.com/view/subject/s/public/s35333600.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/6308618/">
                            <em>不分手的恋爱</em>
                            
                        </a>
                    </li>
                        <li class="intro">汪苏泷 / 2011-03-03 / 单曲 / CD / 流行</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-08-24</span>
                    </li>
                    
                    <li>
                        偶尔在鬼畜区刷到改编恶搞版本，也是顶不住那些思绪涌上心头，不服老不行啊😎
                        

                      </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4623048815">
            <div class="pic">
                <a title="Gam Gam" href="https://music.douban.com/subject/34366288/" class="nbg">
                    <img alt="Gam Gam" src="https://img9.doubanio.com/view/subject/s/public/s33232984.jpg">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://music.douban.com/subject/34366288/">
                            <em>Gam Gam</em>
                            
                        </a>
                    </li>
                        <li class="intro">Smack,Marnik / 2018-11-09 / 单曲 / 世界音乐</li>
                    <li>
                                <span class="rating5-t"></span>
                        <span class="date">2025-08-23</span>
                    </li>
                </ul>
            </div>
        </div>
</div>


    
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="21">1</span>
                
            <a href="https://music.douban.com/people/ttop5/collect?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >2</a>
        
                
            <a href="https://music.douban.com/people/ttop5/collect?start=30&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >3</a>
        
                
            <a href="https://music.douban.com/people/ttop5/collect?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >4</a>
        
                
            <a href="https://music.douban.com/people/ttop5/collect?start=60&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >5</a>
        
                
            <a href="https://music.douban.com/people/ttop5/collect?start=75&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >6</a>
        
                
            <a href="https://music.douban.com/people/ttop5/collect?start=90&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >7</a>
        
                
            <a href="https://music.douban.com/people/ttop5/collect?start=105&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >8</a>
        
                
            <a href="https://music.douban.com/people/ttop5/collect?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >9</a>
        
            <span class="break">...</span>
                
            <a href="https://music.douban.com/people/ttop5/collect?start=285&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >20</a>
        
            <a href="https://music.douban.com/people/ttop5/collect?start=300&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >21</a>
        
        <span class="next">
            <link rel="next" href="https://music.douban.com/people/ttop5/collect?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="https://music.douban.com/people/ttop5/collect?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



        </div>
        <div class="aside">
                

<!-- load raikiri.js -->


    
    <div class="music-user-profile mod">
        <div class="clearfix basic-info">
            <img class="avatar" src="https://img3.doubanio.com/icon/u133283807-23.jpg"
                 width=48 height=48 />
            <div class="username">ttop5</div>
            <div class="user-join-date">2015-08-20 加入</div>
        </div>
        <ul class="number-accumulated">
            
        <li class="number-item">
            <span class="number-label">听过</span>
            <span class="number">309 </span>
        </li>

            

            
        <li class="number-item">
            <span class="number-label">添加条目数</span>
            <span class="number">7 </span>
        </li>

        </ul>
    
    
    <a class="a-btn mr5 link-to-people-page" href="https://www.douban.com/people/ttop5/">ttop5的豆瓣主页 ></a>
        <a class="a-btn mr5 j a_show_login" rel="nofollow" href="https://www.douban.com/doumail/write?to=133283807">发豆邮</a>

    </div>


    <div class="mod">
        <p class="pl2 m0">
                &gt; <a href="/people/ttop5/">ttop5的音乐主页</a>
        </p>
    </div>

        </div>
        <div class="extra">
            
        </div>
    </div>
</div>

        
<div id="footer">
    
<span id="icp" class="fleft gray-link">
    &copy; 2005－2026 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=music" target="_blank">帮助中心</a>
    · <a href="https://fm.douban.com/app">手机音乐</a>
</span>

</div>

    </div>
    

    <!-- COLLECTED JS -->
    
    
    









<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5WP579" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5WP579');</script>
<!-- End Google Tag Manager -->


<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7019765-1']);
_gaq.push(['_setCampNameKey', 'dcn']);
_gaq.push(['_setCampSourceKey', 'dcs']);
_gaq.push(['_setCampMediumKey', 'dcm']);
_gaq.push(['_setCampTermKey', 'dct']);
_gaq.push(['_setCampContentKey', 'dcc']);
_gaq.push(['_addOrganic', 'baidu', 'word']);
_gaq.push(['_addOrganic', 'soso', 'w']);
_gaq.push(['_addOrganic', '3721', 'name']);
_gaq.push(['_addOrganic', 'youdao', 'q']);
_gaq.push(['_addOrganic', 'so.360.cn', 'q']);
_gaq.push(['_addOrganic', 'vnet', 'kw']);
_gaq.push(['_addOrganic', 'sogou', 'query']);
_gaq.push(['_addIgnoredOrganic', '豆瓣']);
_gaq.push(['_addIgnoredOrganic', 'douban']);
_gaq.push(['_addIgnoredOrganic', '豆瓣网']);
_gaq.push(['_addIgnoredOrganic', 'www.douban.com']);
_gaq.push(['_setDomainName', '.douban.com']);


    _gaq.push(['_setCustomVar', 1, 'responsive_view_mode', 'desktop', 3]);

_gaq.push(['_trackPageview']);
_gaq.push(['_trackPageLoadTime']);

window._ga_init = function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
};
if (window.addEventListener) {
    window.addEventListener('load', _ga_init, false);
} else {
    window.attachEvent('onload', _ga_init);
}
</script>





    <!-- dae-web-music--default-cfff75556-z4bp4-->

  <script>_SPLITTEST=''</script>
</body>

</html>



